@import "../../styles//variables/variables.scss";
@import "../../styles//mixins/mixins.scss";

.registerForm {
  margin-top: 10rem;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include formStyle;
}
