@import "../../styles//variables/variables.scss";
@import "../../styles//mixins/mixins.scss";

.loginForm {
  color: red;
  margin-top: 10rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include formStyle;
}
