@import "../../styles//variables/variables.scss";

body {
  -ms-overflow-style: none;
  :-webkit-scrollbar {
    display: none;
  }
}

.mapContainer {
  width: 40vw;
  box-shadow: 0px 0px 4px 0.5px $primaryColor;
  border-radius: 10px;
}

.itemDetailsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .itemDetailsTextContainer {
    p {
      font-family: $font;
      font-size: 1.2rem;
      margin: 0.5rem;
      color: $supportPrimaryColor;
    }
  }
}

.itemBtn {
  text-align: center;
  line-height: 15px;
  height: 35%;
  width: 30%;

  background-color: $primaryColor;
  font-family: $font;
  color: $brandColor;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;

  border-radius: 10px;

  &:hover {
    border: 2px solid $brandColor;
  }
}
