@import "../../styles//variables/variables.scss";

.container {
  height: calc(100vh - 12.5vh);
  .profileContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .chartContainer {
      width: 40%;
    }
    .textContainer {
      width: 40%;
    }
  }
}

.headerSell {
  font-size: 2rem;
  font-family: $font;
  font-weight: 600;
  color: $supportPrimaryColor;
}

.detail {
  color: $brandColor;
}
.itemActionContainer {
  height: 100%;
}
