@import "../../styles//variables/variables.scss";


.profileContainer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:5rem;
  .chartContainer {
    width: 40%;

  }
  .textContainer {
    width: 40%;
  }
}

.headerSell{
  font-size: 2rem;
  font-family: $font;
  font-weight: 600;
  color: $supportPrimaryColor;
}

.detail{
  color: $brandColor;
}