$primaryColor: #071E3D;
$secondaryColor: #21E6C1;
$supportPrimaryColor: #1F4287;
$supportSecondaryColor: #278EA5;
$brandColor: #FD6584;
$backgroundColorMain:#E2F3F5;

$font: 'Lato', sans-serif;
$fontWeight: 700;