@import "../variables//variables.scss";

@mixin absolutePositioning($index) {
  position:absolute;
  bottom:0;
  right:0;
  z-index:($index);
}

.homeContainer {
  position:relative;
  height: 80vh;
  bottom: -20vh;

  .bcgSvg {
    @include absolutePositioning(-1)
  }
  .mainSvg {
    margin:0;
    @include absolutePositioning(1)
  }
}


