body {
  -ms-overflow-style: none;
}

body :-webkit-scrollbar {
  display: none;
}

.storeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

.storeContainer .listContainer {
  width: 40vw;
  height: 100%;
  overflow: hidden;
}

.storeContainer .listContainer .listItemContainer {
  overflow: scroll;
  height: 80vh;
  padding: 0;
}

.storeContainer .listContainer .filterAreaContainer {
  border: 2px solid #FD6584;
  border-radius: 10px;
}

.storeContainer .listContainer .filterAreaContainer .filtersContainer {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.storeContainer .listContainer .filterAreaContainer .filtersContainer .rangeFilterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.storeContainer .listContainer .filterAreaContainer .filtersContainer .checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.storeContainer .listContainer .filterAreaContainer .checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storeContainer .listContainer .filterAreaContainer .checkboxContainer > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storeContainer .listContainer .filterAreaContainer .searchBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5vh;
  margin: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.storeContainer .listContainer .filterAreaContainer .searchBarContainer input {
  width: 80%;
  font-family: "Lato", sans-serif;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.storeContainer .listContainer .filterAreaContainer .searchBarContainer input:focus, .storeContainer .listContainer .filterAreaContainer .searchBarContainer input:hover {
  -webkit-box-shadow: 0px 0px 12px 2px rgba(253, 101, 132, 0.53);
          box-shadow: 0px 0px 12px 2px rgba(253, 101, 132, 0.53);
}

.storeContainer .listContainer .filterAreaContainer .searchBarContainer label {
  line-height: 29px;
  font-size: 1.2rem;
  font-weight: 400;
}

.checkboxLabel, .distanceLabel {
  line-height: 29px;
  font-size: 1.2rem;
  font-weight: 400;
  font: "Lato", sans-serif;
}

.mapContainer {
  width: 40vw;
  -webkit-box-shadow: 0px 0px 4px 0.5px #071E3D;
          box-shadow: 0px 0px 4px 0.5px #071E3D;
  border-radius: 10px;
}
/*# sourceMappingURL=Store.css.map */